.sidebaroption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  font-weight: 300;
  cursor: pointer;
  max-height: 25px;
}

.sidebaroption:hover {
  background-color: #340e36;
  opacity: 0.9;
}

.sidebaroption__icon {
  padding: 10px;
  font-size: 15px !important;
}

.sidebaroption__channel {
  padding-left: 10px;
}
.siderbaroption__hash {
  padding: 5px;
}

.sidebaroption > h3 {
  font-weight: 400;
}
