.message {
  display: flex;
  align-items: center;
  padding: 10px;
}

.message > img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.message__timestamp {
  color: grey;
  font-weight: 400;
  font-size: 10px;
  padding-left: 4px;
}

.message__info {
  padding-left: 10px;
}

.message__info > p {
  font-size: 14px;
  font-weight: 400;
}
